In [70]:
import numpy as np
import glob
import matplotlib.pyplot as plt
import os
import shutil
from mpl_toolkits.mplot3d import Axes3D
from six.moves import cPickle
import sys
import pandas as pd

from sklearn.preprocessing import OneHotEncoder

#from RNN import RNNmodel

In [71]:
_, _, MoningSubmitDf= cPickle.load(open('RNNReusltMorning.pkl', 'rb'))
_, _, LunchSubmitDf= cPickle.load(open('RNNReuslt.pkl', 'rb'))
_, _, DinnerSubmitDf= cPickle.load(open('RNNReusltDinner.pkl', 'rb'))

In [72]:
MoningSubmitDf.columns = ['date', 'trueM', 'predM', 'week']
DinnerSubmitDf.columns = ['date', 'trueD', 'predD', 'week']

In [73]:
Submit = pd.merge(MoningSubmitDf.set_index('date')[['trueM', 'predM']] ,
         DinnerSubmitDf.set_index('date')[['trueD', 'predD']],
        left_index=True, right_index=True)

Submit = pd.merge(Submit,
                 LunchSubmitDf.set_index('date')[['true_kor', 'pred_kor', 'true_west', 'pred_west']],
                  left_index=True, right_index=True)

In [74]:
Submit

,trueM,predM,trueD,predD,true_kor,pred_kor,true_west,pred_west
date,,,,,,,,
2003-06-13,0,49.9256,0,16.8953,0,47.1556,0,-0.633471
2003-06-14,43.0325,49.215,15.5235,21.8459,33.213,26.4421,0,-0.0577592
2003-06-15,43.3213,49.2517,20.722,17.8345,24.5487,16.151,0,1.33471
2004-02-28,0,47.3115,0,20.268,0,27.1719,0,-0.0741264
2004-02-29,0,44.3527,0,17.3217,0,23.1858,0,0.545316
2004-03-01,0,52.9865,0,17.8051,0,40.5337,0,1.99692
2008-12-28,0,44.0622,0,18.2148,0,11.497,0,8.14341
2008-12-29,39.1336,42.3156,16.7509,17.2419,40.2166,40.147,18.7726,12.6798
2008-12-30,35.8845,44.525,15.5957,15.1084,31.5523,44.2589,14.4404,11.8555
2009-07-15,0,43.5682,0,23.3851,0,31.34,0,15.2128
2009-07-16,0,45.5391,0,15.8589,0,35.5509,0,13.856
2009-07-17,0,48.9337,0,17.2902,0,40.3927,0,12.9932
2010-07-13,0,52.1374,0,16.6073,0,34.7816,0,18.4669
2010-07-14,0,47.9415,0,24.442,0,29.0011,0,17.7488
2010-07-15,0,47.59,0,16.5188,0,30.4436,0,14.6484
2011-03-09,0,30.6331,0,20.1536,0,20.8605,0,13.6597
2011-03-10,0,33.9778,0,18.797,0,22.288,0,13.511
2011-03-11,0,37.9052,0,16.6843,0,18.5945,0,12.2814
2011-05-03,0,36.7479,0,22.6019,0,25.8118,0,13.7986
2011-05-04,0,34.7385,0,20.595,0,24.0325,0,14.2718
2011-05-05,0,32.8954,0,16.2603,0,27.0575,0,12.9807
2011-06-20,0,36.7689,0,23.0109,0,24.9722,0,13.0465
2011-06-21,0,34.9849,0,16.1326,0,28.0432,0,16.4473
2011-06-22,0,32.735,0,18.0715,0,29.0577,0,12.8289
2011-07-16,0,38.4093,0,17.6024,0,12.866,0,11.453
2011-07-17,0,36.0541,0,19.0176,0,13.796,0,8.11175
2011-07-18,0,42.6758,0,16.1381,0,27.2423,0,13.0235
2011-08-12,0,40.8491,0,18.0202,0,26.8926,0,14.9189
2011-08-13,0,39.2885,0,21.1887,0,14.3811,0,12.3594
2011-08-14,0,43.0384,0,17.8593,0,11.0353,0,9.4265
...,...,...,...,...,...,...,...,...
2016-08-30,0,28.9672,0,19.1329,0,34.9777,0,11.362
2016-08-31,0,28.9391,0,22.095,0,28.3041,0,11.5291
2016-09-01,0,31.3237,0,17.104,0,16.9547,0,12.113
2016-10-17,0,31.6221,0,16.7975,0,27.5638,0,13.7358
2016-10-18,0,31.1102,0,20.8374,0,25.3497,0,14.8142
2016-10-19,0,35.3487,0,16.0119,0,21.0896,0,10.5851
2017-02-01,0,25.1875,0,18.9734,0,25.3125,0,11.3862
2017-02-02,0,29.0138,0,23.2541,0,30.4163,0,12.6126
2017-02-03,0,31.1613,0,17.245,0,28.5067,0,12.6675
2017-03-24,0,34.5838,0,19.5157,0,19.9196,0,13.3016
2017-03-25,0,34.5605,0,20.8748,0,12.947,0,10.0251
2017-03-26,0,36.6461,0,18.1991,0,9.87482,0,8.31923
2017-04-19,0,27.6647,0,19.4535,0,22.1069,0,13.7359
2017-04-20,0,32.366,0,22.5057,0,19.9698,0,12.2265
2017-04-21,0,36.3913,0,17.7853,0,17.4119,0,12.3282
2017-07-16,0,31.8691,0,18.4756,0,10.806,0,7.79758
2017-07-17,0,32.4048,0,19.1434,0,28.7956,0,13.623
2017-07-18,0,35.8705,0,17.2593,0,28.5255,0,14.6612
2017-08-24,0,33.7444,0,21.6178,0,27.2435,0,15.49
2017-08-25,0,33.4812,0,19.8808,0,27.148,0,13.276
2017-08-26,0,37.2577,0,18.4905,0,13.5375,0,11.144
2017-10-08,0,25.3319,0,17.9667,0,25.4449,0,2.88486
2017-10-09,0,26.318,0,17.5783,0,54.2464,0,2.79495
2017-10-10,0,30.6404,0,14.4398,0,50.956,0,1.67238
2017-11-20,0,30.989,0,19.305,0,19.0561,0,10.8086
2017-11-21,0,32.7705,0,21.4894,0,30.2078,0,11.849
2017-11-22,0,33.2162,0,15.1205,0,23.8471,0,10.5904
2014-06-04,0,29.6124,0,21.639,0,26.5195,0,14.6319
2014-06-05,0,33.4185,0,16.3716,0,24.3522,0,15.4309
2014-06-06,0,37.3741,0,17.6513,0,20.5215,0,13.9202

In [75]:
result = pd.read_excel('../../../../data/raw/result/sub3.result.form.xlsx', header=2)

In [76]:
result.columns = ['date', 'predM', 'pred_kor', 'pred_west', 'predD', 'None']

In [77]:
result

         date  predM  pred_kor  pred_west  predD  None
0  2010-07-15    NaN       NaN        NaN    NaN   NaN
1  2011-03-11    NaN       NaN        NaN    NaN   NaN
2  2011-05-05    NaN       NaN        NaN    NaN   NaN
3  2011-06-22    NaN       NaN        NaN    NaN   NaN
4  2011-07-18    NaN       NaN        NaN    NaN   NaN
5  2011-08-14    NaN       NaN        NaN    NaN   NaN
6  2011-09-14    NaN       NaN        NaN    NaN   NaN
7  2011-10-20    NaN       NaN        NaN    NaN   NaN
8  2012-01-03    NaN       NaN        NaN    NaN   NaN
9  2012-03-14    NaN       NaN        NaN    NaN   NaN
10 2012-05-13    NaN       NaN        NaN    NaN   NaN
11 2012-06-08    NaN       NaN        NaN    NaN   NaN
12 2012-07-27    NaN       NaN        NaN    NaN   NaN
13 2012-10-02    NaN       NaN        NaN    NaN   NaN
14 2012-11-30    NaN       NaN        NaN    NaN   NaN
15 2013-01-09    NaN       NaN        NaN    NaN   NaN
16 2013-02-28    NaN       NaN        NaN    NaN   NaN
17 2013-03-24    NaN       NaN        NaN    NaN   NaN
18 2013-04-04    NaN       NaN        NaN    NaN   NaN
19 2013-07-31    NaN       NaN        NaN    NaN   NaN
20 2013-08-13    NaN       NaN        NaN    NaN   NaN
21 2013-09-16    NaN       NaN        NaN    NaN   NaN
22 2014-03-19    NaN       NaN        NaN    NaN   NaN
23 2014-05-29    NaN       NaN        NaN    NaN   NaN
24 2014-06-06    NaN       NaN        NaN    NaN   NaN
25 2014-07-01    NaN       NaN        NaN    NaN   NaN
26 2014-08-22    NaN       NaN        NaN    NaN   NaN
27 2014-10-10    NaN       NaN        NaN    NaN   NaN
28 2014-12-12    NaN       NaN        NaN    NaN   NaN
29 2015-01-20    NaN       NaN        NaN    NaN   NaN
30 2015-03-23    NaN       NaN        NaN    NaN   NaN
31 2015-04-21    NaN       NaN        NaN    NaN   NaN
32 2015-06-07    NaN       NaN        NaN    NaN   NaN
33 2015-08-02    NaN       NaN        NaN    NaN   NaN
34 2015-09-18    NaN       NaN        NaN    NaN   NaN
35 2015-11-25    NaN       NaN        NaN    NaN   NaN
36 2015-12-25    NaN       NaN        NaN    NaN   NaN
37 2016-02-02    NaN       NaN        NaN    NaN   NaN
38 2016-04-05    NaN       NaN        NaN    NaN   NaN
39 2016-06-15    NaN       NaN        NaN    NaN   NaN
40 2016-07-20    NaN       NaN        NaN    NaN   NaN
41 2016-09-01    NaN       NaN        NaN    NaN   NaN
42 2016-10-19    NaN       NaN        NaN    NaN   NaN
43 2017-02-03    NaN       NaN        NaN    NaN   NaN
44 2017-03-26    NaN       NaN        NaN    NaN   NaN
45 2017-04-21    NaN       NaN        NaN    NaN   NaN
46 2017-07-18    NaN       NaN        NaN    NaN   NaN
47 2017-08-26    NaN       NaN        NaN    NaN   NaN
48 2017-10-10    NaN       NaN        NaN    NaN   NaN
49 2017-11-22    NaN       NaN        NaN    NaN   NaN

In [79]:
FinalSubmit1 = Submit.loc[result.date]